<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="topBar">
            <img src="https://github.com/mattxd12/techBlogMXD/blob/master/public/images/MXDlogo.png?raw=true" alt="MXD" class='logo'/>
            <h1 class="white">Intro to Tech Blog</h1>
            <a href="/logout" class="logout white">Login / Logout</a>
          </div>
    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    </script>
  </body>
</html>
